# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Folder
build/
__pycache__/
.vscode/
container_opencv/
XXXOLDXXX/
processor/log/
processor/install/
processor/src/vision_opencv/

#temprary folder
processor/src/laser_scan_pkg